/*
        ভাই প্রথমেই ক্ষমা চেয়ে নিচ্ছি কারণ আমাদের গাজীপুরে লোডশেডিং একটুই বেশি যার কারণে আমরা অর্ধেক সময় দিন কারেন্ট ছাড়া থাকতে হয় |
        আপনি যখন কটি দিয়েছিলেন দেখার জন্য বা কিছু করার জন্য তখন থেকেই অনেক সময় চলে গেছে এজন্য আমি আন্তরিকভাবে দুঃখিত |
        ভাই যদি আমার কোন ভুল ত্রুটি থাকে কোডের মধ্যে একটু দেখিয়ে দিয়েন দেখিয়ে দিলে ভালো হয়

        -- sharif 😋
*/

/* ------ navigation menu style ------ */


.nav-link {

  &.active,
  &.show {
    color: rgb(252, 11, 11) !important;
  }
}

.nav-link:hover {
  color: rgba(255, 0, 0, 0.514) !important;
}


/* ------------ main -------------- */

/* section --- 1 */

.costom_control {
  height: 80vh;
}

.img_movement {
  display: flex;
  justify-content: center;
}

.img_box {
  width: 230px;
  margin: 88px 0;
}

.img_box .img2 {
  height: 566px;
  max-width: 125%;
}

.img_box .img3 {
  height: 566px;
  max-width: 140%;
}

.f_icon {
  color: #81757566;
  font-size: 1.5625vw;
}

.f_icon:hover {
  color: #1b1a77;
}

/* section------------- 5 */

.last_img {
  width: 150px;
}

.last_img2 {
  float: right;
}

