body {background-color:lightgray;}
#area {
    width: 700px;
    height: 170px;
    align-self: center;
    margin-left: 13%;
    margin-right: 50%;
    
}
#border {
    width: auto;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}
